<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>** TO DO: ** Information about LeadStreamLocal.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Phone: +1 234 567 8900</p>
                <p>Email: contact@leadstreamlocal.com</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <p>TO DO: Social media links.</p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-12">
                <p class="text-center">&copy; <script>document.write(new Date().getFullYear());</script> LeadStreamLocal - built by <a href="https://www.trusponse.com" style="color: white">TruSponse Solutions</a></p>
                <!-- <p class="text-center">A Creation of <a href="https://www.trusponse.com" style="color: white">TruSponse Solutions</a></p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
