<%- include('partials/header') %>

<section class="hero-section text-center text-white py-5">
    <div class="container mt-5">
        <h1>Discover the Power of Lead Stream Local</h1>
        <p>Your path to effortless online reputation management and customer engagement.</p>
    </div>
</section>

<section class="features-section">
    <div class="container">
        
        <!-- Feature 1 -->
        <div class="row">
            <div class="feature-box">
                <h2>Automated Review Collection</h2>
                <p>Seamlessly collect online reviews from a vast customer base without lifting a finger.</p>
            </div>
            <div class="feature-box">
                <h2>Focus on What Matters</h2>
                <p>With automated reputation management, redirect your attention to core business operations.</p>
            </div>
            <div class="feature-box">
                <h2>Build Your Email List</h2>
                <p>Grow a robust email list for future marketing campaigns through a simple yet effective process.</p>
            </div>
            <div class="feature-box">
                <h2>Automated Reminders</h2>
                <p>Let our system navigate your customers through the review process with automated follow-up emails.</p>
            </div>
            <div class="feature-box">
                <h2>Service Recovery</h2>
                <p>Address unsatisfied customers' concerns privately and promptly through an integrated service recovery form.</p>
            </div>
            <div class="feature-box">
                <h2>Analytics and Integration</h2>
                <p>Gain insights with analytics, and look forward to seamless integration with TruSponse Solutions for your email marketing and social media campaigns.</p>
            </div>
        </div>
        
    </div>
</section>

<section class="trial-offer-section text-center bg-secondary text-white py-5">
    <div class="container">
        <h2>Experience Lead Stream Local Firsthand</h2>
        <p>Embark on a 15-day journey with us, absolutely free. No strings attached, no credit card required.</p>
        <a href="/signup" class="btn btn-primary btn-get-started">Start Your Free Trial</a>
    </div>
</section>



<%- include('partials/footer') %>

