<!-- views/index.ejs -->
<%- include('partials/header') %>

<div id="page-container">
    <header class="header-container">
        <div class="left-section">
            <div class="tagline ml-5">
                build<br>
                a reputation<br>
                that drives your<br>
                business forward<br>
            </div>
            <img src="/path-to-your-image/image.jpg" alt="Descriptive Alt Text" class="header-image">
        </div>
        <div class="right-section">
            <!-- Content for right section goes here -->
        </div>
    </header>
    
    <%- include('partials/footer') %>
</div>

