<!-- views/index.ejs -->
<%- include('partials/header') %>

<div id="page-container">
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container top-container mt-5">
            <div class="row mt-5">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mt-5 mb-3">Build a Reputation that Drives Your Business Forward</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <a href="/features" class="btn btn-hero">Start Here</a>
                </div>
            </div>
        </div>
    </header>
    
    <%- include('partials/footer') %>
</div>

