<!-- views/index.ejs -->
<%- include('partials/header') %>

<div id="page-container">
    <header class="header-container">
        <div class="left-section">
            <div class="tagline ml-5 pb-5">
                build<br>
                a reputation<br>
                that drives your<br>
                business forward<br>
            </div>
           
            
        </div>
        <div class="right-section h-100">
            <!-- Content for right section goes here -->
            <div class="img-container my-2 pb-5 pt-5">
                <img src="./assets/5star.png" alt="Descriptive Alt Text" class="header-image">
            </div>
            <div class="img-container mx-auto my-2 pb-5 text-center">
                <a href="/signup" class="btn btn-hero">Start Your Free Trial</a>
            </div>
        </div>
    </header>
    
    <%- include('partials/footer') %>
</div>

