<!-- views/index.ejs -->
<%- include('partials/header') %>

<div id="page-container">
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container top-container mt-5">
            <div class="row mt-5">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mt-5 mb-3">Build a Reputation that Drives Your Business Forward</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <a href="/get-started" class="btn btn-primary btn-get-started">Start Here</a>
                </div>
            </div>
        </div>
    </header>
    <!-- <div id="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to LeadStreamLocal</h1>
                    <p>Your business reputation management solution.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/get-started" class="btn btn-primary btn-get-started">Start Here</a>
                </div>
            </div>
        </div>
    </div>   -->
    
    <%- include('partials/footer') %>
</div>

