/* css/styles.css */
html, body {
    height: 100%;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #f4f4f4;
}

.features-section .feature-box h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.65em!important;
    font-weight: bold;
}

.features-section .feature-box p {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.25em!important;
}

.features-section .row {
    display: flex;
    flex-wrap: wrap;
}

.features-section .col-md-4 {
    display: flex;
}

.features-section .feature-box {
    padding: 20px; /* Adds padding */
    border: 2px solid #005ca1; /* Adds border */
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-section .card.feature-box .card-title,
.features-section .card.feature-box .card-text {
    color: #333; /* Adjusts text color */
}

/* ... */


.hero-section {
    background-color: #2034AF; /* Darker shade of blue */
    opacity: .75;
    padding-top: 105px;
    padding-bottom: 65px;
    /* padding: 3rem 0; */
    position: relative;
}

.trial-offer-section {
    background-color: #f0f0f0; /* Lighter background */
}

.signup-section {
    background-color: #ffffff;
    padding: 60px 0;
}

/* styles.css */
.features-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.features-section h1,
.features-section p {
    margin-bottom: 20px;
}

.feature-box {
    margin-bottom: 30px;
}

.feature-box p {
    color: #555;
}


/* Add to your styles.css */
body, .navbar, .masthead {
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1000;  /* Ensures navbar is on top of other elements */
    /* background-color: rgba(0, 0, 0, 0.5);  Temporarily for testing */
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    flex-shrink: 0; /* Prevents navbar from shrinking */
    background-color: #fff!important;
    padding-bottom: 8px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.container-main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.top-container {
    padding-top: 10em;
}

/* In your styles.css file */
.navbar-transparent {
    background-color: #fff!important;
    border: #fff!important;
    box-shadow: none!important;
}

.navbar-brand {
    color: #2bb7ba
}

.footer {
    background-color: #005ca1!important;
    color: #FFFFFF!important;
    padding-top: 2em;
    flex-shrink: 0; /* Prevents footer from shrinking */
    width: 100%;
}

.navbar.navbar-light.bg-light {
    color: #ffffff !important;
}

.signin-link {
    color: #5dd382;
    transition: color 0.3s ease-in-out;
}

.signin-link:hover {
    color: #005ca1;
}

.btn-nav {
    background-color: #fff;
    border-color: #005ca1;
    border-width: 2px;
    color: #005ca1;
    transition: color 0.3s ease-in-out;
}
.btn-nav:hover {
    background-color: #fff;
    border-color: #2bb7ba;
    border-width: 2px;
    color: #2bb7ba;
}

.btn-hero {
    background-color: #fff;
    border-color: #005ca1;
    border-width: 2px;
    color: #005ca1;
    transition: all 0.3s ease-in-out;
}

.btn-hero:hover {
    background-color: #2c8bb0!important;
    border-color: #fff!important;
    border-width: 2px;
    color: #fff!important;
}

.btn-signup-submit {
    background-color: #fff;
    border-color: #005ca1;
    border-width: 2px;
    color: #005ca1;
    transition: color 0.3s ease-in-out;
}

.btn-signup-submit:hover {
    background-color: #2c8bb0!important;
    border-color: #fff!important;
    border-width: 2px;
    color: #fff!important;
}

.container-get-started {
    background: linear-gradient(90deg, #5dd382, #005ca1);
    color: #fff;
}

.btn-primary:hover {
    background-color: #75777B;
    border-color: #F59144;
    border-width: 2px;
    color: #fff;
}

.navbar, .footer {
    font-family: 'Roboto', sans-serif;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrap {
    flex: 1;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: transparent!important; /* Default background color */
}

.left-section {
    flex: 1.25;
    background: linear-gradient(45deg, #5dd382, #2c8bb0);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.tagline {
    font-family: 'League Spartan', sans-serif;
    font-size: 7.5em;
    font-weight: bold;
    line-height: .8;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 20px; /* Adjust spacing between tagline and image */
}

.header-image {
    width: 80%; /* Adjust as necessary */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

.right-section {
    flex: .75;
    display: flex;
    background-color: #beffc929!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.features-top h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 6em;
    font-weight: bold;
}

.features-top p {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
}

/* Login page styling */

/* General Styles */


.login-container {
    width: 100%;
    max-width: 400px;
    margin: 11rem auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #33D251;
    outline: none;;
    box-shadow: 0 0 5px rgba(51, 210, 81, 0.5);
}

.form-input:hover {
    border-color: #33D251;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #33D251; /* Adjust the color to match your brand */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #45a049; /* Slightly darker shade of green */
}

.forgot-link {
    display: block;
    padding-bottom: .5rem;
    margin-top: 15px;
    text-align: center;
    color: #000;
    text-decoration: underline;
    font-size: 12px;
}

.forgot-link:hover {
    text-decoration: underline;
}

.no-account-yet {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;  /* Optional: If you want to center-align the text and link */
}

.sign-up-link {
    text-decoration: underline;
}

/* Common styling for both social buttons */
.social-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;  /* White text */
}

.fb-btn {
    background-color: #1877F2;  /* Facebook's blue color */
    display: block;
}

.google-btn {
    background-color: #DB4437;  /* Google's red color */
}

.icon {
    margin-right: 10px;  /* Adds some spacing between the icon and the text */
}

/* You might already have styles for .fb-icon, so only add google-icon */
.google-icon {
    /* Add styles or background-image for Google's icon */
}

.separator {
    text-align: center;
    margin: 10px 0;
    color: #888;  /* Grayish color for the text */
    font-weight: bold;
}

/* Add a subtle line on either side of 'OR' for visual appeal */
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px 0 0;  /* Spacing to the right of the line */
}
.separator::after {
    margin: 0 0 0 10px;  /* Spacing to the left of the line */
}




